*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}





.l-footer{
  margin: 100px auto 17px;
}

.l-footer__text{
  color: #A9A9A9;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
}
